@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on navbar height */
}

section {
  scroll-margin-top: 80px;
}
